body {

    font-family: sans-serif;

    max-width: 800px;

    margin: auto;

    padding: 40px;

    background: white;

    color: #333;

}

h1 {

    font-size: 40px;

}

h2 {

    margin-top: 40px;

}
